<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit()" #f="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" ngModel required #name="ngModel">
                    <span class="help-block" *ngIf="!name.valid && name.touched">Please enter Name</span>
                </div>
                <div class="col-sm-5 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" class="form-control" name="amount" ngModel required pattern="^[1-9]+[0-9]*$" #amount="ngModel">
                    <span class="help-block" *ngIf="!amount.valid && amount.touched">             
                        <span *ngIf="amount.errors['required']">Please enter Amount</span>
                        <span *ngIf="amount.errors['pattern']">Amount need to be greater than zero</span>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" [disabled]="!f.valid"> {{ getSubmitText() }}</button>
                    <span *ngIf="isEditMode">
                        <button class="btn btn-danger" type="button" (click)="onDeleteItem()">Delete</button>
                        <button class="btn btn-default" type="button" (click)="exitEditMode()">Cancel</button>
                    </span>
                    <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
                </div>
                <div class="col-xs-12">
                    <span class="help-block" *ngIf="!f.valid && f.touched">Please enter valid value in the Form</span>
                </div>
            </div>
        </form>
    </div>
</div>